/* Products.css | Dru Delarosa | @dntstck
//
*/

/* Main Object
//
*/

.product-logo {
  max-width: 200px;
  max-height: 200px;
}

/* General
//
*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Media
//
*/

@media (min-width: 800px) {
  .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 2fr));
  gap: 1rem;
  padding: 1rem;
}
}